<div class="container">
    <h2 class="section-header">Titre de la section</h2>
    <div class="feature-row align-left">
        <div class="feature-item feature-item__img">
            <img src="https://i0.wp.com/www.myprettywig.com/wp-content/uploads/2020/05/perruque-blond-moyen-effet-racine.jpg?fit=1080%2C1077&ssl=1" alt="Une blonde">
        </div>
            <div class="feature-item feature-item__text">
                <h3>Titre</h3>
                <div class="rte">texte</div>
                <a href="#">En savoir plus</a>
            </div>
    </div>

    <div class="feature-row align-right">
        <div class="feature-item feature-item__img">
            <img src="https://media.paperblog.fr/i/878/8789766/atomic-blonde-R-6bSmKe.jpeg" alt="Une blonde">
        </div>
            <div class="feature-item feature-item__text">
                <h3>Titre</h3>
                <div class="rte">texte</div>
                <a href="#">En savoir plus</a>
            </div>
    </div>
</div>

