<header class="header">
    <nav class="header-navbar">
        <button class="navbar-toggler"><i class="fa-solid fa-bars"></i></button>
        <ul class="navbar">
            <li class="navbar-item"><a href="#">Accueil</a></li>
            <li class="navbar-item"><a href="#">Produit</a></li>
            <li class="navbar-item"><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="header-brand">
        Logo
    </div>

    <div class="header-icon">
        <button>
            <i class="fa-brands fa-searchengin"></i>
        </button>
        <a href="/cart">
            <i class="fa-solid fa-cart-arrow-down"></i>
        </a>
    </div>

</header>

<br/><br/><br/><br/><br/><br/>


