<div class="slider">
  <input type="radio" name="slider" checked />
  <div class="slider__content">
    <img src="https://i.ibb.co/R9zTS4w/image.jpg" />
    <div class="slider__description">
      <h1>Slide One</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Voluptates, aspernatur accusantium, animi consectetur odio
        exercitationem et blanditiis deserunt obcaecati earum soluta error
        aliquam. Ab sunt pariatur quos aperiam! Iure, sequi?
      </p>
      <a href="#">Read more</a>
    </div>
  </div>
  <input type="radio" name="slider" />
  <div class="slider__content">
    <img src="https://i.ibb.co/MB1cjm0/image.jpg" />
    <div class="slider__description">
      <h1>Slide Two</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Voluptates, aspernatur accusantium, animi consectetur odio
        exercitationem et blanditiis deserunt obcaecati earum soluta error
        aliquam. Ab sunt pariatur quos aperiam! Iure, sequi?
      </p>
      <a href="#">Read More</a>
    </div>
  </div>
  <input type="radio" name="slider" />
  <div class="slider__content">
    <img src="https://i.ibb.co/Rz7JhHy/image.jpg
          " />
    <div class="slider__description">
      <h1>Slide Three</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Voluptates, aspernatur accusantium, animi consectetur odio
        exercitationem et blanditiis deserunt obcaecati earum soluta error
        aliquam. Ab sunt pariatur quos aperiam! Iure, sequi?
      </p>
      <a href="#">Read more</a>
    </div>
  </div>
  <input type="radio" name="slider" />
  <div class="slider__content">
    <img src="https://i.ibb.co/JkC2ddj/image.jpg" />
    <div class="slider__description">
      <h1>Slide Four</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Voluptates, aspernatur accusantium, animi consectetur odio
        exercitationem et blanditiis deserunt obcaecati earum soluta error
        aliquam. Ab sunt pariatur quos aperiam! Iure, sequi?
      </p>
      <a href="#">Read More</a>
    </div>
  </div>
  <input type="radio" name="slider" />
  <div class="slider__content">
    <img src="https://i.ibb.co/hM646t7/image.jpg" />
    <div class="slider__description">
      <h1>Slide Five</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Voluptates, aspernatur accusantium, animi consectetur odio
        exercitationem et blanditiis deserunt obcaecati earum soluta error
        aliquam. Ab sunt pariatur quos aperiam! Iure, sequi?
      </p>
      <a href="#">Read More</a>
    </div>
  </div>
</div><!-- End // .directional_nav -->

  


{% schema %}
{
  "name": "Slider",
  "max_blocks": 9,
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "Titre du slide"
        },
        {
          "type": "text",
          "id": "text",
          "label": "texte",
          "default": "Texte du slide"
        },
        {
          "type": "url",
          "id": "link",
          "label": "lien"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider",
      "category": "Média"
    }
  ]
}
{% endschema %}